
@model StokDataModel.Müsteri

@{
    ViewBag.Title = "MüsteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Müsteri", FormMethod.Post))
{
   
<div class="form-group " >
 
    @Html.HiddenFor(k => k.MüsteriId, new { @class = "form-control hidden" })


    @Html.LabelFor(k => k.MüsteriAd)
    @Html.TextBoxFor(k => k.MüsteriAd, new { @class = "form-control " })

    @Html.LabelFor(k => k.MüsteriSoyad)
    @Html.TextBoxFor(k => k.MüsteriSoyad, new { @class = "form-control" })

    <br />

    <div>

        <button class="btn btn-warning">Müsteri Güncelle</button>

    </div>
</div>
}


